* {
    margin: 0px;
    display: block;
}

.title {
    color: #ee6c4d;
    font-family: Georgia, serif;
    text-align: center;
    font-size: 48px;
}

.header {
    color: #ee6c4d;
    font-family: Georgia, serif;
    text-align: center;
    font-size: 24px;
}

body {
    background-color: #98c1d9;
}

p {
    font-family: Georgia, serif;
    text-align: center;
}

img {
    margin: 25px auto;
    display: block;
    height: 380px;
    width: auto;
    border: 3px solid black;
}

ul {
    font-family: Georgia, serif;
    text-align: center;
    list-style-type: none;
}

ol {
    font-family: Georgia, serif;
    text-align: center;
    list-style-type: none;
}

li a {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #ee6c4d;
    display: inline-block;
    font-size: 22px;
    width: 185px;
}